body{
    font-family: 'Jost';
font-style: normal;
}
text-1{
    
  padding: 10px;
}
.text-2{
    width: 700px;
}
.line{
    position: absolute;
border: solid 2px #DADADA;
margin: 15px;
width: 20000px;
}
.text-1{
    font-family: 'Jost';
font-style: normal;
font-weight: 700;
font-size: 54px;
line-height: 56px;
}
.text-2{
    font-family: 'Jost';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
}
.text-3{
    font-family: 'Jost';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px
}
.text-4{
    font-family: 'Jost';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;    
}
.text-5{
    font-family: 'Jost';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
}
.text-6{
    font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
}
.text-7{
    font-family: 'Jost';
font-style: normal;
font-weight: 700;
font-size: 54px;
line-height: 56px;
}
.text-8{
    font-family: 'Jost';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
}
.text-9{
    font-family: 'Jost';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;
}
.text-10{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}
.text-11{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.text-12{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}